nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

#logo {
  font-family: 'Bungee', cursive;
  padding: 0px 1.5em;
}

nav .right-side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 1.5em;
}

nav i.fa-angle-double-down {
  color: red;
}

nav div.right-side-nav:hover {
  color: rgb(30, 210, 81);
}