main section.new-tweet {
  width: 100%;
}

main section.new-tweet form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-bottom: 30px;
  background-color: #d3d2d0;
  border-radius: 10px;
}

main section.new-tweet form label{
  font-weight: bold;
  margin: 0.5em;
}

main section.new-tweet form div button{
  background-color: #4056A1;
  color: #FFFFFF;
}

main section.new-tweet form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
  font-family: 'Bungee', cursive;
  margin-bottom: 1em;
}

main section.new-tweet form textarea {
  border: none;
  outline: none;
  resize: none;
  background-color: inherit;
  border-bottom: 2px solid #58554d;
  margin: 0px 0.5em;
  margin-bottom: 0.5em;
  height: 30px;
}